@charset "utf-8";
/* 站点说明： 10010chinaunicom2.0
 * 开发时间： 2011-5-23
 * 开发者： sandfilter
 * 维护者： sandfilter
 *
 * 样式版本： v1.0
 * 版本时间： 2012-8-13
 * 注意事项： 插件、控件、需要单独示警的样式添加在这里
 */
#windownbg{ min-width:1003px;display:none;position:absolute;width:100%;height:100%;background:#c2c2c2;top:0;left:0;}
#windown-box{position:fixed;_position:absolute;border:2px solid #ebebeb;background:#FFF;text-align:left;}
#windown-title{position:relative;height:40px;/*border:1px solid #A6C9E1;*/overflow:hidden; margin-right:16px; }
#windown-title h2{position:relative;left:10px;top:5px;font-size:14px;color:#666;}
#windown-title span{ float:right;background:url(http://m1.img.10010.com/images/close_tingbox.png) right 8px no-repeat; height:40px;}
#windown-close{position:absolute;right:0;top:8px;width:24px;height:24px;text-indent:-10em;overflow:hidden;background:url(http://m1.img.10010.com/images/close.png) 100% -49px no-repeat;cursor:pointer;}
#windown-content-border{position:relative;top:-1px;/*border:1px solid #A6C9E1;*/padding:5px 0 5px 5px;}
#windown-content img,#windown-content iframe{display:block;}
#windown-content .loading{position:absolute;left:50%;top:50%;margin-left:-8px;margin-top:-8px;}


/*个人信息*/

.btn_changInfo{ border-top:1px solid #eaeaea; width:100%; height:23px;}
.btn_changInfo span{ background:url(http://m1.img.10010.com/images/btn_self.png) no-repeat center top; width:116px; height:22px; margin:auto; display:block;}