/* 全局定义 */
body, td,th {font-family:宋体;font-size:12px;line-height : normal;}
body {margin: 0;text-align: left;padding:0;color: #fff;background:#DDE9ED url("../images/page_bg.gif") repeat-x top left;}
a {color:#25569A;text-decoration: underline;}
a:hover {color: #000;text-decoration: underline;}
a.menu {color:#005476;text-decoration: underline;}
a.menu:hover {color: #000;text-decoration: underline;}
ul {margin: 0px;padding: 0px;}
img {border: none;}
.space{clear:both;}


/*---------------------------------*/

input { 
	border-bottom:1px solid #BDC5CA;
 	border-right:1px solid #BDC5CA; 
	border-top:1px solid #6F787E; 
	border-left:1px solid #6F787E; 
	padding:3px 2px; 
	font-size:14px; }

.input0{background:url("../images/button_bg.gif");border:1px solid #BDC5CA}
button { height:28px; line-height:28px; border:1px solid #C6D2E3; background:url("../images/button_bg.gif");  }
.button_on { background:url("../images/button_bg2.gif"); border:1px solid #c3a336; }
.input_on { background:url("../images/button_bg2.gif"); border:1px solid #c3a336; }
.TextBoxFocus { background:#E3FAD5; border-bottom:1px solid #CDD8C0; border-right:1px solid #CDD8C0; border-top:1px solid #89A16E; border-left:1px solid #89A16E; }
.TextBox { background:#fff; }


/*表格部分*/
table,div,li{word-wrap : break-word ;word-break : break-all ;}
table.spacetable{text-align:left;width:98%;}
th{background-color:#006A76;border-bottom:1px solid #004C55;}
table.spacetable th{color:white;height:22px;text-indent:15px;}
table.spacetopic th{color:white;height:22px;}
table.spacetopic a,td{color:#000;}
table.spacetopic a:visited,table.spacetopic a:hover{color:#004284;}

.tabletitle1{background-color : #EDF5F9;border:1px solid #6595d6} 
.tabletitle2{background-color : #EDF5F9;} 
.tablebody4 {background-color : #fff;line-height : normal;padding:10px} 
.tablebody1 {background-color : #fff;line-height : normal;border-right:1px solid #E7F0F5;}
.tablebody1 li{list-style:inside;}
.tablebody2 {background-color : #EDF5F9;line-height : normal;border-right:1px solid #E7F0F5;} 
.tablebody3{background-color : #6E98C5}
.tableborder1{ border:0px;background-color : #6595d6; padding:0px}
.tableborder1 td{padding:3px 0px 3px 2px;color:#666}
.tableborder2{background:#F7FDFF;border:1px solid #6595d6;padding:3px 0px;} 
.tableborder3{border-left : 1px solid #9CC3D9;border-right : 1px solid #9CC3D9;border-top : 0px;border-bottom : 0 solid #9CC3D9;background-color : #efefef} 
.tableborder4 {border : 1px solid #6595d6} 
.tableborder5 {border-left : 1px solid #9CC3D9;border-right : 1px solid #9CC3D9;border-top : 0px;border-bottom : 1px solid #9CC3D9;background-color : #efefef} 
.tableborder6{border : 0px;background-color : #fff}
.tableborder7{border-bottom:1px  dotted gray; height:22px; line-height:22px;}
.tableborder8{background-color:#F4F3E1;border-bottom:1px  dotted gray; height:22px; line-height:22px;}

/*---------------------------------*/

/* 页面宽度设置 */
#top,#head,#menus,#foote{margin:0 auto;min-width: 760px;width: 952px;}
#spacemain,#bot_style{margin:0 auto;min-width: 100%;width: 100%;}
#footer { width:950px; }
/* 页面左右边框设置 */
div.left,div.right{background-color:#3399CC;width:3px;height: 100%;font-size:12px; line-height:20px;}
/* 顶部信息 */
#top{height:17px;padding-top:3px; background:url("../images/menus_top_bg.gif");color:#005476;/*background-color: #3399CC;border-bottom:1px solid white;*/}
#top div.left{float: left;width:0px;}
#top div.right{float:right;width:0px;}
#top div.center{height:15px;line-height:15px;float: left;text-align: right;width: 100%;}
/*--------------------------------- */

/* 顶部 */
#head{height: 52px;padding:0px;color:white;/*background-color:#88A8D4;*/ background:url("../images/menus_bg.gif");}
#head div.left{float:left;width:0px;}
#head div.right{float:right;width:0px;}
#head div.center{margin:5px 0px 5px 0px;float: left;text-align: left;width: auto; }
#head div.center .title{font-size: 16px;height:20px;line-height:20px;overflow: hidden; color:#004D56; font-weight:bold; padding-left:80px;}
#head div.center .intro{width: auto; color:#004D56; padding-left:210px; }
/*--------------------------------- */

/* 导航部份 */
#menus{border-bottom:0px solid #3399CC;height: 37px; background:url("../images/menu_top_bg.gif");}
#menus div.left{float:left;width:0px;}
#menus div.right{float:right;width:0px;}
#menus div.center{float:left;line-height:normal;}
#menus ul{padding:0px 0px 0px 20px;list-style:none;}
#menus li{margin:0;padding:0;float:left;}
#menus li a{text-decoration:none; color:#fff;}
#menus li a span{background:none;padding:12px 8px 4px 4px;color:#E0FFFB;display:block; margin-left:1px;}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menus li a span {float:none;}
 /* End IE5-Mac hack */


/*--------------------------------- */
/* 底部 */
#footer{clear:both;height:30px;margin-top:5px;}
#footer div.left{float:left;width:0px;}
#footer div.right{float:right;width:0px;}
#footer div.center{width:98%;float:left;}
#footer div.copyright{text-align:right; color:#005476; margin-top:0px; line-height:20px;}
.copyright a {color:#005476;}
.copyright a:hover {color:#000;}
#top_style { background:url("../images/top_bg.gif") #EEF9FE; height:19px; }
#top_style h1 { float:left; width:11px; height:19px; margin:0px; padding:0px; background:url("../images/top_left.gif"); line-height:0px; font-size:0px; }
#top_style h2 { float:right; width:11px; height:19px; margin:0px; padding:0px; background:url("../images/top_right.gif"); line-height:0px; font-size:0px;}
#bot_style { background:url("../images/bot_bg.gif"); height:19px; margin-bottom:15px; }
#bot_style h1 { float:left; width:10px; height:19px; margin:0px; padding:0px; background:url("../images/bot_left.gif"); line-height:0px; font-size:0px; }
#bot_style h2 { float:right; width:10px; height:19px; margin:0px; padding:0px; background:url("../images/bot_right.gif"); line-height:0px; font-size:0px;}
/*--------------------------------- */
/* 中间主体 */
#spacemain{color:#000;background:white; }
#spacemain a{color:#004284;text-decoration: none;}
#spacemain a:visited,#spacemain a:hover{color:#004284;text-decoration: none; }
#spacemain div.center{clear:both;padding:0px;background:#C1D6DD;margin:0px; width:100%px;text-align:center; border-left:1px solid #004D56; border-right:1px solid #004D56; }
.column{margin:0px;padding:0px;float:left;overflow:hidden;}
.column div{font-size:14px; }

.module{ margin:6px 2px 0px 4px; padding:0px; background-color:none;list-style:none; font-size:0px; line-height:0px; }
.mobule_top{ margin:0px;padding:0px; height:3px; background:url("../images/title_bg.gif"); line-height:0px; font-size:0px;}
.mobule_top h1 { width:4px; height:3px; background:url("../images/title_left.gif"); float:left; margin:0px; padding:0px;line-height:0px; font-size:0px;}
.mobule_top h2 { width:4px; height:3px; background:url("../images/title_right.gif"); float:right; margin:0px; padding:0px;line-height:0px; font-size:0px; }
.mobule_bot{ margin:0px; padding:0px; height:3px; background:url("../images/title_bot_bg.gif"); line-height:0px; font-size:0px;}
.mobule_bot h1 { width:5px; height:3px; background:url("../images/title_bot_left.gif"); float:left; margin:0px; padding:0px;line-height:0px; font-size:0px;}
.mobule_bot h2 { width:5px; height:3px; background:url("../images/title_bot_right.gif"); float:right; margin:0px; padding:0px;line-height:0px; font-size:0px; }
.module .title{background:url("../images/table_bg.gif");padding:0px;width:auto;overflow:hidden;font-weight:bold;color:#222;height:22px;line-height:22px; margin:0px;border:1px solid #93B1BB; font-size:12px; border-top:0px; border-bottom:0px;}
.cont{
text-align:center;border:1px solid #93B1BB; border-bottom:0px; border-top:0px;
line-height:normal;background-color:white;
}
#spacemain .topic a,#spacemain .topic a:link,#spacemain .topic a:visited{text-decoration: none;color:#004284;}
#spacemain .topic a:hover{color:#f60;text-decoration: underline;}
.bottom{width:96%;height:30px; font-size:12px; line-height:20px;}
.bottom .bottom1{width:60%;float:left;text-align:left; font-size:12px; line-height:20px;}
.bottom .bottom2{width:40%;float:left;color:gray;text-align:right; font-size:12px; line-height:20px;}
#temppannal{display:none;}
#LeftChannal{}
#MainChannal{}
#MainChannal .module{}
#RightChannal{}
#MainChannal .module .title{text-align:left;}
#LeftChannal .topic,#RightChannal .topic{width:96%;text-align:left; font-size:12px; line-height:20px;}
#LeftChannal .bottom,#RightChannal .bottom{display:none;}
#LeftChannal .bottom2,#RightChannal .bottom2{display:none;}
#MainChannal .bottom{border-bottom:1px dashed #666;}
#MainChannal .topic{margin:0px 0 5px 0;font-size:12px;color:#004284;text-align:left;text-indent:10px;padding:2px 0 2px 0;font-weight:bold;}
#LeftChannal .body1,#RightChannal .body1{
}
#MainChannal .body1{
	float:left;width:50%;
}
.hide .cont{display:none;}
.ghost{border:1px dashed gray;}
.float{position:absolute;z-index:100;margin:0px;padding:0px;overflow:hidden;list-style:none;-moz-opacity:.75;filter:Alpha(opacity=75);}
.webNote{border:1px dashed #ffffe0;}
textarea.webNote{overflow:hidden;width:880px;background:transparent; height:15px; margin:0px; padding:0px;}
#LeftChannal .body1,#RightChannal .body1{
}
#MainChannal .body1{
	float:left;width:50%;
}
/*--------------------------------- */
/*设置菜单样式*/
div.setmenu{border:1px solid #222;padding:3px;color:#222;width: 260px;position:absolute;z-index :100;background-color:#eee;}
div.setmenu .title{margin-top:4px;font-weight:bold;padding:2px;background-color:#eee;border-bottom:3px solid #999;height:22px;line-height:22px;}
div.setmenu .title{margin-top:4px;padding:2px;}
div.setmenu ul{margin:0px;margin-left:10px;padding:0px;overflow:hidden;list-style:none;}
#div_layout{}


.LabelFont1{
	font-family:"黑体";
	font-size: 20pt;
	font-weight: bold;
}
.LabelFont2{font-size:14px;}

.chkbox,.checkbox, .radio, button, input, select,textarea { vertical-align: middle; font-size:12px; }
.radio {border:none;}
