@charset "utf-8"; 

html {
	zoom: 1
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-left-5 {
	padding-left: 5px;
}

.margin-top-5 {
	margin-top: 5px;
}

.padding-right-20 {
	padding-right: 20px;
}

.mar0Ie { 
	*margin: 0 !important;
}

.background_none {
	background: none !important;
}

.underline {
	text-adecoration: underline
}

.color-orange {
	color: #fc8200;
}

.f18 {
	font-size: 18px;
}

.mar20 {
	margin: 20px;
}

.width-50 {
	width: 50px;
}

.color-a6a6a6 {
	color: #a6a6a6
}

.padding-left-30 {
	padding-right: 30px;
}

.padding-left-20 {
	padding-left: 20px;
}

.padding-top-30 {
	padding-top: 30px;
}

.border-bottom-bule {
	border-bottom: 1px solid #e7f0f7
}

.border-right-bule {
	border-right: 1px solid #e7f0f7
}

.border-top-bule {
	border-top: 1px solid #e7f0f7
}

.color-a {
	color: #0883c6;
}

.lighter {
	font-weight: lighter;
}

.padding-left-5 {
	padding-left: 5px;
}

.margin-tb-5 {
	margin: 5px 0;
}

.hr {
	height: 1px;
	border: none;
	border-top: 1px dashed #dfdfdf;
	font-size: 0;
}

.tab_international .mian {
	padding: 5px 10px;
}

.padding-tb-10 {
	
}

#banner {
	width: 1003px;
	height: 296px;
}

#banner_bg {
	position: relative;
	z-index: 0;
	width: 1003px;
	height: 296px;
	overflow: hidden;
}

#banner_bg li {
	position: absolute;
}

#btn_banner {
	position: absolute;
	z-index: 1;
	width: 1003px;
	text-align: center;
	margin-top: 270px;
}

#btn_banner div {
	display: inline-block; 
	*display: inline;
	margin: 5px; 
	*margin: 7px;
	zoom: 1;
	width: 12px;
	height: 12px;
	cursor: pointer;
	background: url(http://m2.img.10010.com/images/btn_banner_none.png)
		no-repeat;
}

#btn_banner .on {
	background: url(http://m2.img.10010.com/images/btn_banner_on.png)
		no-repeat;
}

#btn_banner img {
	margin: 5px;
	cursor: pointer;
}

#menu {
	width: 157px;
	position: relative;
}

#menu dl {
	position: relative;
	cursor: pointer;
}

#menu dd {
	display: none;
}

#menu .Active {
	width: 157px;
	height: 70px;
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	border: 2px solid #ffb455;
	border-right: 0;
}

#menu .active {
	min-width: 536px;
	_width: 536px;
	background: #fff;
	position: absolute;
	z-index: 100;
	top: 1px;
	left: 100%;
	margin-top: -1px;
	_margin-left: 1px;
	padding: 0 10px 0 14px;
	border: 1px solid #CCCCCC;
	cursor: default;
}

.active table {
	color: #717171;
}

.active table a {
	line-height: 20px;
	color: #717171 !important;
	text-decoration:none !important;
}

.active table a:hover {
	color: #fc8200 !important;
}

.active tr {
	border-bottom: 1px dotted #ccc;
	*border-bottom: 0;
}

#menu .active tr.last {
	border: none;
}

.active th,.active td {
	*border-bottom: 1px dotted #ccc;
	_border-bottom: 1px dotted #ccc;
	line-height: 10px;
}

#menu .active tr.last th,#menu .active tr.last td {
	*border-bottom: none;
}

.active th {
	width: 96px;
	font-weight: bold;
}

.active th,.active td {
	padding: 7px 0;
}

.active a {
	
}

#nav_cha .Active {
	background: url(http://m2.img.10010.com/images/nav_cha_1.jpg) no-repeat
		left top #fff;
}

#nav_jiao .Active {
	background: url(http://m2.img.10010.com/images/nav_jiao_1.jpg) no-repeat
		left top #fff;
}

#nav_ban .Active {
	background: url(http://m2.img.10010.com/images/nav_ban_1.jpg) no-repeat
		left top #fff;
}

#nav_xinxi .Active {
	background: url(http://m2.img.10010.com/images/nav_xinxi_1.jpg)
		no-repeat left top #fff;
}

#btn_login {
	width: 97px;
	height: 27px;
	background: url(http://m2.img.10010.com/images/btn_login.png) no-repeat;
	border: none;
	cursor: pointer;
}

.login {
	position: relative;
	background: url(http://m2.img.10010.com/images/bg_us.png) no-repeat left
		top;
	width: 221px;
	height: 237px;
	margin: 10px 20px;
	_margin-right: -30px;
	display: inline;
	padding: 19px;
}

.login h1 {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	border-bottom: 1px solid #bbbbbb;
	padding-bottom: 10px;
}

.login_main th,.login_main td {
	padding: 3px 0;
}

.login_main th {
	text-align: right;
	padding-right: 10px;
}

.login_main input {
	height: 26px;
	line-height: 26px;
	color: #595957;
	width: 145px;
	border: 1px solid #a7a49f;
	padding: 0 5px;
}

.login_main .type {
	width: 39px;
	height: 26px;
	border: 1px solid #a7a49f;
	line-height: 26px;
	background: url(http://m3.img.10010.com/images/sign_login.jpg) no-repeat
		92% 6px #fff;
	margin-right: 5px;
	display: inline;
	cursor: pointer;
	padding-right: 20px;
	padding-left: 5px;
	position: relative;
}

.login_main .type_main {
	position: absolute;
	border: 1px solid #a7a49f;
	border-top: none 0;
	width: 59px;
	background: #fff;
	left: -1px;
	top: 26px;
	z-index: 10;
	padding-left: 5px;
}

{
border
:1px

 

solid

 

#e6e6e6
;background:
#fff
;padding:1px;
}
.fastInlet_main {
	background: #fbfbfb;
	padding: 30px 10px 30px 30px;
	_padding: 30px 0px 30px 30px;
}

.fastInlet .main{
	width: 310px;
	overflow: hidden;
	background: url(http://m2.img.10010.com/images/unicombo1.png) no-repeat 304px center;
	float: left;
	margin-right:10px;
}

.fastInlet dl{
	background: url(http://m2.img.10010.com/images/unicombo1.png) no-repeat -48px bottom;
	width:310px;
	overflow: hidden;
}


.fastInlet dt,.fastInlet_main dd {
	float: left;
}

.fastInlet ul {
	overflow: hidden;
}

.fastInlet li {
	float: left;
	padding: 0 5px;
}

.newKetang {
	background: url(http://m3.img.10010.com/images/img_index-21.png)
		no-repeat 10% center;
	height: 41px;
	padding-left: 75px;
}

.user_service {
	border: 1px solid #fd912d;
	background: #faeada;
	padding: 5px;
}

.user_service dd span {
	width: 133px;
	line-height: 1.5em;
}

.user_service a {
	padding: 0 5px;
	color: #0883c6;
}

.menu_user_service {
	border: 1px solid #edebeb;
	overflow: hidden;
	*width: 210px;
	_width: 208px;
}

.menu_user_service h2 {
	background: url(http://m2.img.10010.com/images/bg_selfService02.png)
		no-repeat center top;
	overflow: hidden;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
	color: #656565;
	cursor: pointer;
}

.menu_user_service li {
	background: url(http://m2.img.10010.com/images/bg_selfService01.png)
		no-repeat center bottom;
	height: 31px;
	/*overflow: hidden;*/
	padding-bottom: 1px;
	margin-top: 5px;
	line-height: 30px;
}

.menu_user_service li a {
	display: block;
	line-height: 30px;
	height: 30px;
	margin: 0 1px;
	padding-left: 10px;
	color: #636363;
}

.menu_user_service li span {
	vertical-align: middle;
	/*float: left;*/
	margin-left: 10px;
	cursor: pointer;
}

.menu_user_service li img {
	padding-right: 10px;
	vertical-align: middle;
}

.menu_user_service li a:hover,.menu_user_service li a.on {
	background: #f7f7f7;
	text-decoration: none;
	color: #636363;
}

.box_selfService {
	width: 789px;
}

.menu_main_selfService {
	hieght: 72px;
	overflow: hidden;
	width: 789px;
	background: url(http://m2.img.10010.com/images/bg_selfService1.png)
		no-repeat center bottom;
}

.list_menu_main_selfService {
	width: 107px;
	height: 23px;
	*height: 23px;
	background: url(http://m2.img.10010.com/images/bg_selfService1.1.png)
		no-repeat center top;
	overflow: hidden;
	text-align: center;
	float: left;
	line-height: 23px;
	cursor: pointer;
	margin-right: 5px;
	_margin-right: 3px;
}

.menu_main_selfService .on {
	background-position: 0 -27px;
	height: 24px;
	color: #fc8200;
	font-weight: bold;
	text-decoration: underline;
}

.menu_main_selfService .on a {
	color: #fc8200;
	text-decoration: underline;
	font-weight: bold;
}

.add_menu_main_selfService {
	width: 29px;
	height: 22px;
	background: url(http://m3.img.10010.com/images/sign_selfService.png)
		no-repeat left top;
	margin-top: 1px;
	cursor: pointer;
}

.loginTime_menu_main_selfService {
	line-height: 27px;
	color: #908f8f;
}

.menu_main_selfService .main {
	height: 48px;
	overflow: hidden;
	*margin-top: -3px;
}

.menu_main_selfService .main div {
	float: left;
	padding: 0 10px;
	padding-top: 15px;
	*padding: 0 8px;
	*padding-top: 15px;
}

.menu_main_selfService .main a {
	padding: 0 10px;
	color: #0883c6;
}

.content_main_selfService {
	position: relative;
	padding-left: 6px;
	overflow: hidden;
}

.list_content_main_selfService {
	padding-left: 10px;
	height: 24px;
}

.list_content_main_selfService hr {
	height: 1px;
	border: none;
	border-top: 1px solid #dfdfdf;
	position: relative;
	margin-top: -1px;
	*margin-top: -8px;
	margin-left: -10px;
	z-index: 0;
}

.list_content_main_selfService li {
	position: relative;
	float: left;
	width: 120px;
	line-height: 25px;
	text-align: center;
	color: #656565;
	background: url(http://m3.img.10010.com/images/bg_selfService-04_02.png)
		no-repeat center top;
	overflow: hidden;
	cursor: pointer;
	margin-right: 4px;
	_margin-right: 2px;
}

.list_content_main_selfService li a {
	display: block;
}

.list_content_main_selfService li.on {
	background-position: 0 -24px;
	z-index: 1;
	position: relative;
	font-weight: bold;
}

.menu_main_selfService .main div {
	float: left;
	padding: 0 7px; 
	*padding: 0 4px;
	_padding: 0 4px;
	padding-top: 10px; 
	*margin-top: 15px;
	_margin-top: 15px; 
	*padding: 0 8px;
}

.main_content_main_selfService {
	margin: 15px 20px;
	color: #666a72;
	overflow: hidden;
	width: 743px
}

.tab_information th {
	line-height: 31px;
	font-weight: bold;
}

.tab_information td {
	line-height: 30px;
}

.tab_information tr.background {
	background: url(http://m2.img.10010.com/images/bg_selfService03.png)
		repeat-x left top;
}

.tab_information th .borad {
	background: url(http://m2.img.10010.com/images/bg_selfService04.png)
		no-repeat right center;
}

.prompt_content_main_selfService {
	padding: 5px;
	background: url(http://m2.img.10010.com/images/bg_prompt_border.png)
		repeat left top;
}

.prompt_content_main {
	background: #fffef3;
	padding: 15px 25px;
	overflow: hidden;
}

.prompt_content_main_selfService h4 {
	background: url(http://m3.img.10010.com/images/sign_header.png)
		no-repeat left 50%;
	padding-left: 60px;
	line-height: 42px;
	height: 42px;
	color: #fc8200;
	font-weight: bold;
}

.information input.chaxun {
	background: url(http://m2.img.10010.com/images/btn_selfService.png)
		no-repeat left top;
	line-height: 26px;
	text-align: center;
	width: 69px;
	border: none 0;
	height: 26px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.tab_information input.flip {
	background: url(http://m2.img.10010.com/images/btn_selfService-03.png)
		no-repeat left top;
	width: 51px;
	height: 23px;
	line-height: 23px;
	cursor: pointer;
	border: none 0;
}

.center_tab td,.center_tab th {
	text-align: center;
}

.calls_inquires td {
	padding: 2px 0;
}

.calls_inquires input {
	vertical-align: middle;
	margin-right: 5px; 
	*margin-right: 0px;
}

.calls_inquires .calls img {
	padding: 0 5px;
}

.mymeal_allowance {
	background: url(http://m2.img.10010.com/images/bg_mymea.png) no-repeat
		left top;
	width: 112px;
	height: 12px;
	position: relative;
	vertical-align: middle;
	margin: auto;
	_top: 54px; 
	*top: 0px;
	_left: 10px;
}

.mymeal_allowance_main {
	background: url(http://m2.img.10010.com/images/bg_mymeal_allowance.png)
		repeat-x right -1px;
	height: 12px;
	width: 0%;
	position: absolute;
	left: 0;
}

.mymeal_allowance_left {
	background: url(http://m2.img.10010.com/images/bg_mymeal_allowance.png)
		no-repeat left -14px;
	_background:
		url(http://m2.img.10010.com/images/bg_mymeal_allowanceL.png) no-repeat
		left top;
	height: 12px;
	width: 4px;
	position: absolute;
	z-index: 1;
	left: 0;
}

.mymeal_allowance_right {
	background: url(http://m2.img.10010.com/images/bg_mymeal_allowance.png)
		no-repeat right -27px;
	height: 12px;
	width: 4px;
	position: absolute;
	left: 1%;
	top: 0;
	z-index: 1;
}

.mymeal_allowance_valueBox {
	font-family: Arial, "宋体";
	height: 12px;
	position: absolute;
	z-index: 1;
	right: -40px;
	top: -10px;
}

.input_box_self a {
	background: url(http://m2.img.10010.com/images/bg_selfService_1.png)
		repeat-x left center;
	height: 20px;
	line-height: 20px;
	border: 1px solid #c2c2c2;
	width: 108px;
	display: block;
	float: left;
	margin-right: 10px;
	_margin-right: 5px;
	text-align: center;
	_padding-top: 4px;
	_height: 15px;
	_line-height: 15px;
}

.input_box_self img {
	margin-right: 5px;
}

.tab_border td {
	border-bottom: 1px solid #e7f0f7;
}

.dl_userDefined dt {
	width: 60px;
	padding-top: 30px;
}

.dl_userDefined dd {
	width: 680px;
	overflow: hidden;
}

.dl_userDefined li div {
	width: 200px;
	line-height: 20px;
	overflow: auto;
	zoom: 1;
}

.dl_userDefined dd a {
	float: right;
	background: url(http://m2.img.10010.com/images/btn_selfService.png)
		no-repeat 0 0;
	width: 69px;
	height: 26px;
	display: block;
	line-height: 26px;
	vertical-align: middle;
}

.else_tab span {
	float: left;
}

#tinybox {
	position: absolute;
	display: none;
	z-index: 2000;
	background: #fff no-repeat 50% 50%;
	border: 1px solid #a6a6a6;
}

#tinybox .fr img {
	position: absolute;
	right: 9px;
	top: 2px;
}

#tinymask {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000000;
	z-index: 1500;
}

#tinycontent {
	font-size: 1.1em;
}

#page_ajax {
	margin: 1px;
	border: 1px solid #ebebeb;
	font-size: 14px;
	padding: 10px
}

.background-pink {
	background: #faeada;
}

.padding-5 {
	padding: 5px;
}

.padding-top-15 {
	padding-top: 15px;
}

.margin-right-5 {
	margin-right: 20px;
}

.margin-right-75 {
	margin-right: 75px;
}

.margin-right-155 {
	margin-right: 155px;
}

.background-wpink {
	background: #faf7f7
}

.border-top-1 {
	border-top: 1px solid #dddddd;
}

.border-bottom-1 {
	border-bottom: 1px solid #dddddd;
}

.main_content_main_selfService table.border-ddd {
	border: 1px solid #dddddd;
}

.border-right-1 {
	border-right: 1px solid #dddddd;
}

.padding-left-90 {
	padding-left: 90px;
}

.color-orange { #fc8200
	
}

.padding-left-115 {
	padding-left: 115px;
}

.padding-left-60 {
	padding-left: 60px;
}

.padding-right-60 {
	padding-left: 60px;
}

.history_bill_tab span {
	display: block;
	width: 95px;
	padding-left: 5px;
	cursor: pointer;
	margin: 1px 0;
}

.history_bill_tab label {
	display: block;
	width: 95px;
	padding-left: 5px;
}

.history_bill_tab input {
	vertical-align: middle;
}

.background-wpink li {
	float: left;
	width: 220px;
}

.tab_information a.button-background {
	background: url(http://m2.img.10010.com/images/btn_selfService.png)
		no-repeat 0 0;
	width: 69px;
	height: 26px;
	display: block;
	line-height: 26px;
}

.tab_information input.border-none {
	border: none;
	height: 25px;
	line-height: 25px;
	border: 1px solid #ccc;
	width: 180px;
}

.tab_information td.height {
	height: 35px;
	line-height: 35px;
}

.main_content_main_selfService li.width {
	width: 590px;
}

.main_content_main_selfService li a.background {
	background: url(http://m2.img.10010.com/images/btnBg.png) repeat-x 0 0;
	height: 20px;
	line-height: 20px;
	display: block;
	border: 1px solid #c2c2c2;
	float: right;
}

.main_content_main_selfService li a.width-50 {
	width: 50px;
}

.main_content_main_selfService li a.width-80 {
	width: 80px;
}

.main_content_main_selfService li.width-280 {
	width: 280px;
}

.main_content_main_selfService li.width-120 {
	width: 120px;
}

.main_content_main_selfService li input.bn {
	border: none;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	width: 380px;
}

.col_red {
	color: #DD0000
}

.lit_dot {
	background: url(http://m2.img.10010.com/images/lit_dot.jpg) no-repeat
		20px;
	center;
}

.main_content_main_selfService h1.dot {
	background: url(http://m2.img.10010.com/images/dot.gif) no-repeat left
		center;
	padding-left: 30px;
}

.main_content_main_selfService h4.tu {
	background: url(http://m2.img.10010.com/images/title_bc3.gif) no-repeat
		0 0;
	height: 61px;
	width: 482px;
	line-height: 61px;
	padding-left: 85px;
}

.main_content_main_selfService p {
	line-height: 24px;
}

.PersonalInfo table,.PersonalInfo table td,.PersonalInfo table th {
	border: 1px solid #ddd;
}

.PersonalInfo table th {
	padding: 10px 0;
	width: 120px;
}

.PersonalInfo table td {
	width: 230px;
}

.self_service_left {
	width: 455px;
	border: 1px solid #ddd;
	padding: 10px 20px;
}

.self_service_left h3.col_orange {
	color: #ed6c00
}

.self_service_right h3.col_blue {
	color: #3399cc
}

.padding-right-5 {
	padding-right: 5px;
}

div.background-dot {
	background: url(http://m3.img.10010.com/images/selfService03.png)
		no-repeat left center;
	padding-left: 17px;
}

div.dot {
	overflow: hidden;
	margin-top: 11px;
	border-top: 1px dotted #999999;
}

.selfServiceContent li {
	overflow: hidden;
	padding: 15px 0;
}

.self_service_left p {
	height: 25px;
	line-height: 25px;
	background: #fff6ef;
}

.self_service_right {
	width: 455px;
	border: 1px solid #ddd;
	padding: 10px 20px;
}

.self_service_right p {
	height: 25px;
	line-height: 25px;
	background: #ecf8ff;
}

.selfServiceContent .page span {
	padding: 5px 15px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.selfServiceContent .page span:hover {
	padding: 5px 15px;
	border: 1px solid #7ECCF3;
	color: #36c;
}

.selfServiceContent .page span.span_left {
	background: url(http://m3.img.10010.com/images/sanjiao03.png) no-repeat
		2px center;
}

.selfServiceContent .page span.span_left:hover {
	background: url(http://m3.img.10010.com/images/sanjiao03.png) no-repeat
		2px center #F0F9FE;
}

.selfServiceContent .page span.span_right:hover {
	background: url(http://m3.img.10010.com/images/sanjiao04.png) no-repeat
		60px center #F0F9FE;
}

.selfServiceContent .page span.span_right {
	background: url(http://m3.img.10010.com/images/sanjiao04.png) no-repeat
		60px center;
}

.selfServiceContent .page a {
	padding: 5px 10px;
	margin: 0 5px;
	border: 1px solid #ddd;
}

.selfServiceContent .page a.orange {
	background: #ff6600;
	color: #fff;
}

.selfServiceContent .page a.color_orange {
	background: #ff6600;
	color: #fff;
}

.bug6 {
	_display: inline;
}

.information .info p {
	width: 400px;
}

.information .info {
	width: 700px;
	border-bottom: 1px dashed #ddd;
}

.information .info p.bgStar {
	width: 120px;
	height: 19px;
	background: url(http://m3.img.10010.com/images/star_orange_03.png)
		repeat-x 0 0;
}

.self_box {
	width: 540px;
	*width: 530px;
	overflow: hidden;
}

.btn_selfService {
	background: url(http://m2.img.10010.com/images/btn_selfService-03.png)
		no-repeat;
	width: 51px;
	height: 23px;
	border: none;
	cursor: pointer;
}

.gaps {
	margin: 0px 2px;
}

.a_blue {
	color: #0883C6;
}

.btn_close {
	width: 17px;
	height: 17px;
	background: url(http://m2.img.10010.com/images/close.png) no-repeat;
	border: none;
	cursor: pointer;
}

.btn_arrow_up {
	width: 42px;
	height: 21px;
	background: url(http://m2.img.10010.com/images/arrow_up_bg.png)
		no-repeat;
	border: none;
	cursor: pointer;
}

.btn_middle {
	width: 69px;
	height: 26px;
	background: url(http://m2.img.10010.com/images/btn_selfService.png)
		no-repeat;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
}

.hr {
	height: 1px;
	border: none;
	border-top: 1px dashed #dfdfdf;
}

.famicom {
	padding: 0px 2px;
	background: #ddd;
	float: left;
	width: 90px;
	height: 20px;
	line-height: 20px;
	margin-right: 25px;
	text-align: center
}

#rightSide {
	margin: 0;
	width: 230px;
	border: 1px solid #e1e1e1;
	border-top: none;
}

#rightSide div {
	padding: 10px;
	line-height: 20px;
	width: 216px;
}

#rightSideCard {
	width: 100%;
}

#rightSideCard li {
	width: 50%;
	float: left;
	height: 29px;
	line-height: 31px;
	font-size: 14px;
	margin: 0px -1px;
	border: 1px solid #e1e1e1;
	text-align: center;
	background: url(http://m2.img.10010.com/images/bg_rightSideCard.png)
		repeat-x;
	cursor: pointer;
}

#rightSideCard li.on {
	background: #FFF;
	border-bottom: none;
	font-weight: bold;
}

#rightFocus {
	position: relative;
}

#rightFocus ul li {
	cursor: pointer;
}

#rightFocus ul li.on {
	display: block;
}

#rightFocus img {
	width: 236px;
	height: 191px;
}

#foucsButton {
	position: absolute;
	right: 10px;
	top: 165px;
}

#foucsButton div {
	width: 17px;
	height: 17px;
	background: #dbdbdb;
	float: left;
	text-align: center;
	line-height: 17px;
	margin-left: 10px;
	cursor: pointer;
}

#foucsButton div.on {
	background: #fc8200;
	color: #FFF;
}

#gallery {
	height: 100px;
	overflow: hidden;
	position: relative;
	width: 236px;
}

#gallery ul {
	height: 63px;
	position: absolute;
}

#gallery ul li {
	float: left;
}

#btn_gallery div {
	width: 16px;
	height: 28px;
	background: #333;
}

#btn_gallery div.left {
	position: absolute;
	left: 10px;
	top: 17px;
	background: url(http://m2.img.10010.com/images/gallery_left.png)
		no-repeat;
	cursor: pointer;
}

#btn_gallery div.right {
	position: absolute;
	right: 10px;
	top: 17px;
	background: url(http://m2.img.10010.com/images/gallery_right.png)
		no-repeat;
	cursor: pointer;
}

#sinaWeibo {
	padding: 10px;
	border: 1px solid #e1e1e1;
}

#sinaWeibo p {
	font-size: 14px;
	color: #345f8c;
	font-weight: bold;
}

.addcare {
	width: 62px;
	height: 21px;
	background: url(http://m2.img.10010.com/images/addcare.png) no-repeat;
	cursor: pointer;
	border: 0;
}

.shop_a_box {
	background: url(http://m2.img.10010.com/images/a_box.png) no-repeat;
	width: 696px;
	height: 44px;
	margin: 5px 0 5px 10px;
}

.shop_a_box ul {
	margin-left: 113px;
	padding-top: 13px;
	color: #ff9a22;
}

.shop_a_box ul li {
	background: url(http://m2.img.10010.com/images/orangebox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_a_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_a_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_a_box .hui {
	background: url(http://m2.img.10010.com/images/hui.png) no-repeat;
	color: #acacac;
}

.shop_b_box {
	background: url(http://m2.img.10010.com/images/b_box.png) no-repeat;
	width: 696px;
	height: 46px;
	margin: 5px 0 5px 10px;
}

.shop_b_box ul {
	margin-left: 113px;
	padding-top: 14px;
	color: #0c8fff;
}

.shop_b_box ul li {
	background: url(http://m2.img.10010.com/images/bluebox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_b_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_b_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_c_box {
	background: url(http://m2.img.10010.com/images/c_box.png) no-repeat;
	width: 272px;
	height: 50px;
	margin: 5px 0 5px 10px;
}

.shop_c_box ul {
	margin-left: 113px;
	padding-top: 18px;
	color: #00bd3b;
}

.shop_c_box ul li {
	background: url(http://m2.img.10010.com/images/lvbox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_c_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_c_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_a3gy_box {
	background: url(http://m2.img.10010.com/images/a3gy_box.png) no-repeat;
	width: 696px;
	height: 50px;
	margin: 5px 0 5px 10px;
}

.shop_a3gy_box ul {
	margin-left: 113px;
	padding-top: 13px;
	color: #ff9a22;
}

.shop_a3gy_box ul li {
	background: url(http://m2.img.10010.com/images/orangebox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_a3gy_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_a3gy_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_b3gy_box {
	background: url(http://m2.img.10010.com/images/b3gy_box.png) no-repeat;
	width: 696px;
	height: 46px;
	margin: 5px 0 5px 10px;
}

.shop_b3gy_box ul {
	margin-left: 113px;
	padding-top: 12px;
	color: #0c8fff;
}

.shop_b3gy_box ul li {
	background: url(http://m2.img.10010.com/images/bluebox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_b3gy_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_b3gy_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_c3gy_box {
	background: url(http://m2.img.10010.com/images/c3gy_box.png) no-repeat;
	width: 696px;
	height: 46px;
	margin: 5px 0 5px 10px;
}

.shop_c3gy_box ul {
	margin-left: 113px;
	padding-top: 13px;
	color: #00bd3b;
}

.shop_c3gy_box ul li {
	background: url(http://m2.img.10010.com/images/lvbox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_c3gy_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_c3gy_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_3g_box {
	background: url(http://m2.img.10010.com/images/3G_box.png) no-repeat;
	width: 643px;
	height: 50px;
	margin: 5px 0 5px 10px;
}

.shop_3g_box ul {
	margin-left: 113px;
	padding-top: 13px;
	color: #bb50b5;
}

.shop_3g_box ul li {
	background: url(http://m2.img.10010.com/images/violetbox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_3g_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_3g_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_3g_box .hui {
	background: url(http://m2.img.10010.com/images/hui.png) no-repeat;
	color: #acacac;
}

.shop_qt_box {
	background: url(http://m2.img.10010.com/images/qt_box.png) no-repeat;
	width: 643px;
	height: 50px;
	margin: 5px 0 5px 10px;
}

.shop_qt_box ul {
	margin-left: 113px;
	padding-top: 13px;
	color: #1b68e7;
}

.shop_qt_box ul li {
	background: url(http://m2.img.10010.com/images/deepbox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_qt_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_qt_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_qt_box .hui {
	background: url(http://m2.img.10010.com/images/hui.png) no-repeat;
	color: #acacac;
}

.shop_wk_box {
	background: url(http://m2.img.10010.com/images/wk_box.png) no-repeat;
	width: 431px;
	height: 50px;
	margin: 5px 0 5px 10px;
}

.shop_wk_box ul {
	margin-left: 113px;
	padding-top: 13px;
	color: #63c;
}

.shop_wk_box ul li {
	background: url(http://m2.img.10010.com/images/zbox.png) no-repeat;
	width: 37px;
	height: 31px;
	float: left;
	display: inline;
	padding: 1px 7px 1px 9px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

.shop_wk_box .on {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_wk_box .of {
	background-position: 0 -33px !important;
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
}

.shop_wk_box .hui {
	background: url(http://m2.img.10010.com/images/hui.png) no-repeat;
	color: #acacac;
}

.package_tab {
	border: 1px solid #ccc;
	color: #000;
}

.package_tab tr {
	line-height: 24px;
}

.package_tab th {
	text-align: center;
	background: #f5f5f5;
	padding: 4px;
}

.package_tab td {
	border : 1px solid #CCCCCC;
	text-align: center;
	padding: 4px;
}

.pktip p {
	line-height: 20px;
}

.cardBeforeDate div {
	margin-right: 20px;
	float: left;
	width: 86px;
	height: 22px;
	text-align: center line-height : 22px;
}

.cardBeforeDate div.cbd {
	background: #faeada;
}

.fastInlet_box {
	border: 1px solid #e6e6e6;
	position: relative;
}

.fastInlet_box li {
	color: #818181;
}

.fastInlet_box a,.else_fastInlet a {
	color: #818181;
}

.fastInlet_box a:hover,.else_fastInlet a:hover {
	color: #fc8200;
}

.list_content {
	width: 90%;
	margin-top: 5px;
	padding-left: 20px;
	float: left;
	margin-bottom: 15px;
}

#star {
	width: 600px;
	float: right;
	top: -18px;
	height: 20px;
}

#star ul,#star span {
	height: 50px;
	float: left;
	display: inline;
	height: 19px;
	line-height: 19px;
	zoom: 1;
}

#star ul {
	margin: 0 10px;
	float: left;
}

#star li {
	float: left;
	width: 24px;
	cursor: pointer;
	text-indent: -9999px;
	background: url(http://m3.img.10010.com/images/star_orange_03.png)
		no-repeat;
}

#star strong {
	color: #f60;
	padding-left: 10px;
}

#star li.on {
	background-position: 0 -19px;
}

#star p {
	position: absolute;
	top: 20px;
	width: 159px;
	height: 60px;
	display: none;
	background: url(http://m2.img.10010.com/images/DialogBox.gif) no-repeat;
	text-align: center;
	margin-top: 2px;
	line-height: 44px;
	margin-left: -144px;
	*margin-left: 27px;
	_margin-left: -115px;
	font-size: 12px;
}

body {
	font-size: 12px;
	color: #000;
	font-family: Arial, "宋体", sans-serif
}

.top {
	width: 100%;
	height: 33px;
	background: url(http://m2.img.10010.com/images/topBg.png) repeat-x 0 0;
}

.width-1004 {
	width: 1004px;
}

.topContent {
	height: 33px;
	line-height: 33px;
}

.top li {
	float: left;
}

.top li a {
	padding: 0 10px;
}

.top li a.backgroundJiao {
	background: url(http://m3.img.10010.com/images/sanjiao_gray.png)
		no-repeat right center;
}

.top li span {
	color: #999;
	margin: 0 5px;
}

.top p a {
	margin: 0 5px;
}

.rank li {
	float: left;
	width: 149px;
	height: 59px;
	padding-top: 20px;
	padding-left: 35px;
	line-height: 20px;
}

.rank li span {
	float: left;
	background: url(http://m2.img.10010.com/images/numberBG1.png) no-repeat
		0 0;
	height: 21px;
	width: 21px;
	line-height: 21px;
	text-align: center;
	color: #fff;
	margin-right: 5px;
	margin-top: 3px;
}

.rank li a {
	color: #0389cc;
}

.rank li p {
	color: #676b73;
}

.rank ul {
	
}

.footer {
	background: #efeeea;
	height: 75px;
}

.background-logo {
	background: url(http://m2.img.10010.com/images/logo_gray.png) no-repeat
		80px 0;
	height: 75px;
	padding-top: 15px;
	line-height: 24px;
}

.banner_duan {
	background: url(http://m2.img.10010.com/images/banner_bg.png) no-repeat
		center top;
	min-width: 1003px;
	margin: auto;
}

.banner_duan .banner {
	width: 1003px;
	margin: auto;
	overflow: hidden;
}

.noticeNumber4 .contTop {
	width: 1004px;
	height: 4px;
	font-size: 0;
	background: url(http://m2.img.10010.com/images/content_bg_t.png)
		no-repeat -1px 0;
}

.noticeNumber4 .contentBottom {
	width: 1004px;
	height: 4px;
	font-size: 0;
	background: url(http://m2.img.10010.com/images/content_bg_b.png)
		no-repeat -1px 0;
}

.noticeNumber4 .contentMiddle {
	width: 802px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	padding: 0px 100px;
}

#binding {
	margin: 0 auto;
	width: 711px;
	height: 330px;
	background: url(http://m2.img.10010.com/images/bg_binding.gif) no-repeat
		;
	padding-top: 70px;
}

#binding div.binding {
	margin: 0 auto;
	width: 546px;
	height: 156px;
}

#binding div p {
	font-size: 14px;
	color: #666a72;
	line-height: 30px;
}

#detail {
	width: 1070px;
	min-height: 300px;
	margin: 0 auto;
	color: #4b4b4b;
	margin-top: 38px;
}

#detail h1 {
	font-size: 14px;
	font-weight: bold;
}

#detail table.userInfo {
	border: 1px solid #f7a849;
	margin-top: 8px;
}

#detail table.userInfo th {
	background: #fffdd1;
}

#detail table.userInfo th,#detail table.userInfo td {
	border: 1px solid #f7a849;
	padding: 5px;
}

#detail	div.detail_com {
	padding: 15px;
	text-align: right;
}

#detail	div.detail_com a {
	margin-left: 5px;
}

#detail div.detail_com input.detail_text_page {
	width: 25px;
	height: 16px;
	margin-left: 2px;
}

.detail_btn_go {
	border: none;
	width: 23px;
	height: 21px;
	cursor: pointer;
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		-30px -2px;
}

.detail_btn_first {
	border: none;
	width: 49px;
	height: 21px;
	cursor: pointer;
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		-56px -2px;
	margin-left: 25px;
}

.detail_btn_prev {
	border: none;
	width: 49px;
	height: 21px;
	cursor: pointer;
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		-111px -2px;
	margin-left: 5px;
}

.detail_btn_next {
	border: none;
	width: 49px;
	height: 21px;
	cursor: pointer;
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		-166px -2px;
	margin-left: 5px;
}

.detail_btn_last {
	border: none;
	width: 49px;
	height: 21px;
	cursor: pointer;
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		-221px -2px;
	margin-left: 5px;
}

#detail table.detail_info {
	border: 1px solid #c8c8c8;
	margin-top: 8px;
}

#detail table.detail_info th {
	background: url(http://m2.img.10010.com/images/detail_info_th.png)
		repeat-x;
	height: 25px;
}

#detail table.detail_info th div.updown {
	width: 13px;
	height: 27px;
	border: none;
}

#detail table.detail_info th div.updown a.up {
	width: 13px;
	height: 13px;
	display: block;
	overflow: hidden;
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		0px 0px;
}

#detail table.detail_info th div.updown a.up:hover {
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		-13px 0px;
}

#detail table.detail_info th div.updown a.down {
	width: 13px;
	height: 13px;
	overflow: hidden;
	display: block;
	margin-top: -15px;
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		0px -13px;
}

#detail table.detail_info th div.updown a.down:hover {
	background: url(http://m2.img.10010.com/images/detail_com.png) no-repeat
		-13px -13px;
}

#detail table.detail_info th,#detail table.detail_info td {
	border: 1px solid #c8c8c8;
	padding: 4px;
	line-height: 18px;
}

#detail table.detail_info th div.detail_info_th {
	margin: 6px 0px 0px 4px;
}

#detail div.annotations p {
	line-height: 20px;
}

.xdtitle {
	background: url(http://m3.img.10010.com/images/sort.gif) no-repeat -2px
		-2px;
	height: 29px;
	line-height: 29px;
	color: #333333;
	text-align: left;
	cursor: pointer;
	text-indent: 18px;
}

.xdtitleasc {
	background: url(http://m3.img.10010.com/images/sortasc.gif) no-repeat
		-2px -2px;
	border-bottom: 0;
	height: 29px;
	line-height: 29px;
	color: #333333;
	text-align: left;
	text-indent: 18px;
	cursor: pointer;
}

.xdtitledesc {
	background: url(http://m3.img.10010.com/images/sortdesc.gif) no-repeat
		-2px -2px;
	border-bottom: 0;
	height: 29px;
	line-height: 29px;
	color: #333333;
	text-align: left;
	text-indent: 18px;
	cursor: pointer;
}

.pktipcls {
	*margin-top: 7px;
}

.jstemplate {
	display: none;
}

#simplemodal-overlay {
	
}

.bshare-custom a:hover {
	text-decoration: underline;
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}

element.style {
	width: 115px;
}

.anomaly_content span {
	background: url("http://m2.img.10010.com/images/sign_anomaly_a.png")
		no-repeat scroll left 50% transparent;
	color: #FC8200;
	display: block;
	float: left;
	text-align: left;
}

.anomaly_content p {
	color: #333333;
	font-family: Arial, "微软雅黑";
	font-size: 18px;
	line-height: 1.5em;
}

.anomaly_content a {
	color: #0088CC;
	float: left;
	text-align: left;
	font-size: 18px;
	line-height: 1.5em;
}

.anomaly_content span {
	background: url("http://m2.img.10010.com/images/sign_anomaly_a.png")
		no-repeat scroll left 50% transparent;
	color: #FC8200;
	display: block;
	float: left;
	text-align: left;
	font-size: 18px;
	line-height: 1.5em;
}

.fastInlet_main dt {
	background: url(http://m3.img.10010.com/images/img_index_all.png)
		no-repeat;
	width: 83px;
	height: 88px;
}

#menu dt {
	width: 157px;
	height: 74px;
	background: url(http://m1.img.10010.com/images/nav_btn_all.png)
		no-repeat left top;
}

#menu dd.Active {
	width: 157px;
	height: 70px;
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	border: 2px solid #ffb455;
	border: 2px solid #ccc;
	border-right: 0;
	opacity: 0.95;
	background: url(http://m1.img.10010.com/images/nav_btn_all.png)
		no-repeat left -74px;
}

.sign_nselfService_uase {
	background:
		url(http://m1.img.10010.com/images/sign_nselfService_all.png)
		no-repeat left top;
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.jing_uase {
	background:
		url(http://m1.img.10010.com/images/sign_nselfService_all.png)
		no-repeat -76px top;
	width: 26px;
	height: 18px;
	overflow: hidden;
	display: block;
}

.vip_uase {
	background:
		url(http://m2.img.10010.com/images/sign_nselfService_all.png)
		no-repeat -60px top;
	width: 16px;
	height: 18px;
	overflow: hidden;
	display: block;
}

#isread-text-new {
	background:
		url(http://m2.img.10010.com/images/sign_nselfService_all.png)
		no-repeat 0 -60px;
	width: 210px;
	height: 54px;
}

#tinybox {
	position: absolute;
	display: none;
	z-index: 2000;
	background: url(http://m2.img.10010.com/images/loading145.gif) no-repeat
		center center;
}
.convenient .tab select {
	width: 120px;
	height: 25px;
	line-height: 25px;
}
#tinymask {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 1500;
}

#tinycontent {
	font-size: 1.1em;
	background: url(http://m2.img.10010.com/images/fresh_bgIe.png) no-repeat;
	_height:1%;
}

#simTestContent_index {
	width: 831px;
	overflow: hidden;
}

#simTestContent_index ul {
	width: 6648px;
	height: 473px;
}

#simTestContent_index ul li {
	float: left;
	position: relative;
	display: none;
}

#fresh_c_index {
	border: none;
	width: 64px;
	height: 64px;
	background: url(http://m2.img.10010.com/images/fresh_c.png) no-repeat;
	position: absolute;
	left: 763px;
	top: 0px;
	cursor: pointer;
	z-index: 100;
}

#simTestContent_index ul li#map1_sand {
	display: block;
}

.jstemplate {
	display: none;
}



.f22 {
	font-size: 22px;
	font-family: Arial, "微软雅黑";
	color: #fc8200;
	line-height: 1.5em;
}



/*投诉建议*/
.tsjy table.tsjy_table {
	border: 1px solid #d4d2d2;
}

.tsjy table.tsjy_table th,.tsjy table.tsjy_table td {
	border: 1px solid #d4d2d2;
	padding: 4px;
	height: 26px;
}

.tsjy table.tsjy_table th {
	background: #f6f6f6;
}

.tsjy table.tsjy_table td .tsjy_select {
	height: 25px;
	line-height: 25px;
	width: 150px;
}
/*.tsjy table.tsjy_table td .tsjy_select option{
	text-align:center;
	}*/
.tsjy table.tsjy_table td .tsjy_text {
	height: 25px;
	line-height: 25px;
	width: 146px;
}

.tsjy_textarea {
	width: 350px;
	height: 80px;
}

.tsjy p {
	line-height: 24px;
}

.often_in_table td {
	line-height: 24px;
}

#bQRF td {
	line-height: 40px;
}
/*相关新闻列表样式*/
.aboutNews {
	margin-left: 20px;
}

.aboutNews li {
	background: url(http://m1.img.10010.com/helpcenter/images/lit_dot.jpg) no-repeat left 50%;
	line-height: 24px;
	padding-left: 12px;
}

/*IE流量器兼容性
-套餐办理-页面中“详情”点击后，右下角向上箭头图标位置调整*/
.pktipcls {
	*margin-top: 7px;
}

/*convenient 2012-09-12 sandfilte*/
.convenient {
	padding: 0 20px;
	overflow: hidden;
}

.convenient h3 {
	background: url(http://m1.img.10010.com/helpcenter/images/tsjy_bg_tip2.png) repeat-x left center;
}

.convenient h3 span {
	background: url(http://m1.img.10010.com/helpcenter/images/tsjy_bg_tip.png) no-repeat left 50%;
	display: block;
	padding-left: 20px;
	font-size: 12px;
	font-weight: bold;
}

.convenient h3 a {
	background: #fff;
	padding-right: 10px;
	color: #333;
	cursor: default;
	text-decoration: none;
}
.convenient h3 a:hover{
	color:#fc8200;
}

.convenient .tab td {
	padding: 5px 0;
}

.convenient .tab td a {
	margin: 0 10px;
}

.convenient .tab select {
	width: 120px;
	height: 25px;
	line-height: 25px;
}

.convenient .tab .text_convenient {
	line-height: 25px;
	height: 25px;
	padding: 0 10px;
	border: 1px solid #d9d9d9;
	width: 180px;
}

.tab_convenient_main th {
	background: #f6f6f6;
	text-align: center;
	font-weight: bold;
}

.convenient .tab_convenient_main  td {
	padding: 10px;
}

.tab_belonging th {
	padding: 10px 0;
}

.convenient .tab_broadband select {
	width: 80px;
	margin-right: 10px;
}

.convenient .mian_list ul {
	width: 374px;
}

.convenient .mian_list li {
	line-height: 30px;
}

/*anomaly 2012-09-15 sandfilter*/
.anomaly_content {
	padding: 20px;
	padding-left: 30px;
}

.anomaly_content dt {
	width: 180px;
	vertical-align: middle;
}

.anomaly_content dd {
	width: 480px;
	padding-left: 30px;
	vertical-align: middle;
}

.anomaly_content p,.anomaly_content a {
	font-size: 22px;
	color: #fc8200;
	line-height: 1.5em;
	font-family: Arial, "微软雅黑";
}

/*.anomaly_content a {
	color: #0088cc;
	display: block;
	background: url(http://m1.img.10010.com/helpcenter/images/sign_anomaly_a.png) no-repeat left 50%;
	text-align: left;
}*/

/*show_history_xq 2012-09-19 sandfilter*/
.show_history_xq th,.show_history_xq td {
	height: 26px;
	line-height: 26px;
	padding: 4px;
	border: 1px solid #D4D2D2;
	zoom: 1
}

.show_history_xq th {
	text-align: center;
	background: #F6F6F6;
}

.show_history_xq td {
	padding-left: 10px;
	text-align: left;
}

/*.backToPrimitive{
	width:76px;
	height:27px;
	background:url(../images/unicombo1.png) no-repeat top right;
	position:fixed;
	_position:absolute;
	left:1210px;
	bottom:100px;
	_bottom:'auto';
	cursor:pointer;
}*/

.backToPrimitive {
	background: url(http://m2.img.10010.com/images/unicombo1.png) no-repeat top right;
	bottom: 180px;
	_bottom: "auto";
	cursor: pointer;
	height: 27px;
	left: 1040px;
	position: absolute;
	width: 76px;
}


li.li_table table{background:#fffef3;}
li.li_table table td,li.li_table table th{border:1px solid #fedab8;padding:6px;text-align:center;}